# Database — shared (MySQL)
DB_USERNAME=
DB_PASSWORD=

# Eureka
EUREKA_USERNAME=
EUREKA_PASSWORD=

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=

# MongoDB
MONGO_URI=

# Observability
OTLP_ENDPOINT=http://localhost:4318/v1/traces

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
WEBHOOK_SECRET=

#Keycloak
KEYCLOAK_TOKEN_URI=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
